.sf-box {
  width: 100%;
}

.sf-box--p-100 {
  padding: var(--p-space-100);
}

.sf-box--p-200 {
  padding: var(--p-space-200);
}

.sf-box--p-300 {
  padding: var(--p-space-300);
}

.sf-box--p-400 {
  padding: var(--p-space-400);
}

.sf-box--p-500 {
  padding: var(--p-space-500);
}

.sf-box--p-600 {
  padding: var(--p-space-600);
}

.sf-box--bg-surface {
  background-color: var(--p-color-bg-surface);
}

.sf-box--bg-subdued {
  background-color: var(--p-color-bg-subdued);
}

.sf-box--bg-transparent {
  background-color: transparent;
}

.sf-shadow-bevel {
  position: relative;
  isolation: isolate;
}

.sf-shadow-bevel::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: var(--pc-shadow-bevel-border-radius-xs, var(--p-border-radius-300));
  box-shadow: var(--pc-shadow-bevel-box-shadow-xs, var(--p-shadow-100));
}

.sf-shadow-bevel--radius-100 {
  --pc-shadow-bevel-border-radius-xs: var(--p-border-radius-100);
}

.sf-shadow-bevel--radius-200 {
  --pc-shadow-bevel-border-radius-xs: var(--p-border-radius-200);
}

.sf-shadow-bevel--radius-300 {
  --pc-shadow-bevel-border-radius-xs: var(--p-border-radius-300);
}

.sf-card {
  width: 100%;
}

.sf-card--no-bevel {
  border-radius: var(--p-border-radius-300);
}

.sf-card__inner {
  width: 100%;
}